@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --font-main: var(--font-poppins);
  font-family: var(--font-main);
}

:root[data-theme="light"] {
  --bg-main: 255, 255, 255;
  --theme-color: 0, 0, 0;
  --color-1: rgb(37, 19, 71);
  --color-2: rgb(17, 8, 27);
  --color-3: rgb(90, 89, 95);
  --color-4: rgb(96, 10, 101);
}

:root[data-theme="dark"] {
  --bg-main: 10, 3, 17;
  --theme-color: 255, 255, 255;
  --color-1: white;
  --color-2: rgb(142, 91, 199);
  --color-3: rgb(175, 173, 173);
  --color-4: rgb(96, 10, 101);
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
