@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --font-main: var(--font-poppins);
  font-family: var(--font-main);
}

:root[data-theme="light"] {
  --bg-main: 255, 255, 255;
  --theme-color: 0, 0, 0;
  --color-1: rgb(72, 31, 147);
  --color-2: rgb(24, 7, 44);
  --color-3: rgb(90, 89, 95);
  --color-4: rgb(96, 10, 101);
}

:root[data-theme="dark"] {
  --bg-main: 10, 3, 17;
  --theme-color: 255, 255, 255;
  --color-1: white;
  --color-2: rgb(142, 91, 199);
  --color-3: rgb(175, 173, 173);
  --color-4: rgb(96, 10, 101);
}

:root[data-theme="pink"] {
  --bg-main: 222, 21, 122;
  --theme-color: 255, 255, 255;
  --color-1: white;
  --color-2: rgb(142, 91, 199);
  --color-3: rgb(175, 173, 173);
  --color-4: rgb(96, 10, 101);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  animation: fadeIn 0.5s ease;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
